<br>
<section class="warehouses row">
    {{#each warehouses}} 
        <article class="warehouse col-md-4">
            <h2>{{this.name}}</h2>
            <img id="myImg" src="{{this.image}}" alt="Warehouse" style />
            <br />
            <a class="myBtn" href="/warehouses/{{id}}"><button type="button"class="btn btn-sm btn-outline-dark">{{name}}</button></a>		
        </article>
    {{/each}}
</section> 